.all-box{
    margin-top:60px;
}
.box-one {
    width: 30%;
 
    margin: 0px 2%;text-align: center;
}
ul{
    list-style: none;
    position: relative;


}
ul>li{
   font-weight: 700;
   margin-left: -32px;
   font-size: 1.5vw;
   padding: 5px;
   border-radius: 5px;
}
h2{
    background:rgb(189, 20, 20);
    color:white;
    margin-bottom:0px;
    padding:8px 0px;
}
h4{
    background:rgb(255, 223, 223);
    margin-bottom: 0px;
    padding:8px 0px;
}
.custom-check{
    background:red;
    border-radius: 50px !important;
    border:0px;
    text-align:left !important;
    position:absolute;
    left:30px
}
.form-check-input:checked{
    background:red;
    border-radius: 50px;
    border:none;
}





/* section-tow */
.custom-image{
    height: 130px;
}
.custom-card{
    border: 0px;
    background:rgb(247, 245, 245)
}
.custom-text> h5{
    font-weight:600
}
.custom-text> h6{
    font-weight:600;
}
.custom-text> p{
    font-size:14px;
    color:rgb(67, 66, 66);
}
.section-two{

    margin-top:50px;
    background:rgb(233, 233, 233);
}